.symbolContainer {
  display: flex !important;
  width: 100% !important;
  align-items: center !important;
  overflow: hidden !important;
  font-weight: 500 !important;
  min-height: 20px !important; /* 固定最小高度 */
}

.symbolIcon {
  height: 18px !important;
  width: 18px !important;
  flex: 0 0 18px !important;
  display: block !important;
  margin-right: 5px !important;
  object-fit: cover !important;
}

.symbolText {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  flex: 1 !important;
  min-width: 0 !important;
  line-height: 1.2 !important;
}
