.container {
  min-height: 100vh;
  background-color: rgba(58, 36, 14, 1);
  background-image: url('/images/recharge/recharge_bg.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
}
