.PCRBox {
  width: 100%;
  padding: 0;

  .emptyData {
    text-align: center;
    color: #999;
    padding: 10px;
  }

  .PCRDesc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    .PCRDescName {
      flex: 1;
      color: #979797;
      font-size: 11px;
    }

    .PCRDescContent {
      flex: 2;
      display: flex;
      justify-content: space-between;
      font-size: 11px;
      color: #979797;
    }
  }

  .PCRList {
    .pcrItem {
      display: flex;
      margin-top: 5px;

      .pcrItemTitle {
        flex: 1;
        display: flex;
        align-items: center;

        > div:first-child {
          width: 5px;
          text-align: left;
          color: #999;
          font-size: 11px;
        }

        .pcrItemIcon {
          height: 18px;
          width: 18px;
          margin: 0 5px;
          border-radius: 50%;
          object-fit: cover;
        }

        .pcrItemName {
          color: #333333;
          font-size: 12px;
        }
      }

      .pcrItemRatio {
        flex: 2;
        display: flex;
        background: #FA5F5F;
        position: relative;
        font-size: 11px;
        height: 22px;
        line-height: 22px;
        border-radius: 2px;

        .pcrItemLeft {
          background: #11B787;
          text-align: right;
          padding-right: 5px;
          transition: all 0.3s linear;
          border-radius: 2px 0 0 2px;
        }

        .pcrItemDesc {
          position: absolute;
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 0 5px 0 7.5px;
          box-sizing: border-box;

          > div {
            color: #FFFFFF;
            font-weight: 500;
            text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          }

          > div:first-child {
            text-align: left;
          }

          > div:last-child {
            text-align: right;
            padding-right: 2.5px;
          }
        }
      }
    }
  }
}

/* 暗色模式适配 */
:global([data-theme="dark"]) {
  .PCRBox {
    .emptyData {
      color: #666;
    }

    .PCRDesc {
      .PCRDescName,
      .PCRDescContent {
        color: #666;
      }
    }

    .PCRList {
      .pcrItem {
        .pcrItemTitle {
          > div:first-child {
            color: #666;
          }

          .pcrItemName {
            color: #fff;
          }
        }
      }
    }
  }
}
