.alertsSection { composes: alertsSection from '../../../app/site.module.css'; }
.alertsCopy { composes: alertsCopy from '../../../app/site.module.css'; }
.alertBottomPreview { composes: alertBottomPreview from '../../../app/site.module.css'; }
.alertBottomPreviewImage { composes: alertBottomPreviewImage from '../../../app/site.module.css'; }
.alertSideGroup { composes: alertSideGroup from '../../../app/site.module.css'; }
.alertSideGroupLeft { composes: alertSideGroupLeft from '../../../app/site.module.css'; }
.alertSideGroupRight { composes: alertSideGroupRight from '../../../app/site.module.css'; }
.alertSideCard { composes: alertSideCard from '../../../app/site.module.css'; }
.alertSideIconWrap { composes: alertSideIconWrap from '../../../app/site.module.css'; }
.alertSideIconWrapLarge { composes: alertSideIconWrapLarge from '../../../app/site.module.css'; }
.alertSideIconWrapXL { composes: alertSideIconWrapXL from '../../../app/site.module.css'; }
.alertSideIcon { composes: alertSideIcon from '../../../app/site.module.css'; }
.alertSideIconLarge { composes: alertSideIconLarge from '../../../app/site.module.css'; }
.alertSideIconXL { composes: alertSideIconXL from '../../../app/site.module.css'; }
.alertTickerGroup { composes: alertTickerGroup from '../../../app/site.module.css'; }
.alertTicker { composes: alertTicker from '../../../app/site.module.css'; }
.alertTickerSecondary { composes: alertTickerSecondary from '../../../app/site.module.css'; }
.alertTickerRow { composes: alertTickerRow from '../../../app/site.module.css'; }
.alertTickerCoinWrap { composes: alertTickerCoinWrap from '../../../app/site.module.css'; }
.alertTickerCoinIcon { composes: alertTickerCoinIcon from '../../../app/site.module.css'; }
.alertTickerCoin { composes: alertTickerCoin from '../../../app/site.module.css'; }
.alertTickerCoinMuted { composes: alertTickerCoinMuted from '../../../app/site.module.css'; }
.alertTickerChartWrap { composes: alertTickerChartWrap from '../../../app/site.module.css'; }
.alertTickerChart { composes: alertTickerChart from '../../../app/site.module.css'; }
.alertTickerChartDown { composes: alertTickerChartDown from '../../../app/site.module.css'; }
.alertTickerUp { composes: alertTickerUp from '../../../app/site.module.css'; }
.alertTickerDown { composes: alertTickerDown from '../../../app/site.module.css'; }
