.shell {
  min-height: 100vh;
  background-color: #efefef;
}

.navSkeleton {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #fff;
  z-index: 100;
  border-bottom: 1px solid #f0f0f0;
}

.pageSkeleton {
  min-height: auto;
  background-color: #efefef;
  padding-top: 50px;
}
